
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    background-image: linear-gradient(to right, #AAAAAA, #DDDDDD);
}

header {
    padding-top: 30px;
    padding-right: 40px;
    height: 40%;
    background-image: url("../Chungus.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: end;
}

section {
    min-height: 80%;
    background-image: linear-gradient(to right, #DDDDDD, #FFFFFF);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    height: 20%;
    background-image: linear-gradient(to left, #DDDDDD, #FFFFFF);
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 20px;
}

#Content {
    display: flex;
    flex-direction: column;

}

#Content img, #Content h2 {
    align-self: center;
}

#Controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Controls button {
    padding: 40px;
    margin: 20px 20px;
    border-radius: 5px;
}

#bone {
    background-color: #DD00AA;
}

#btwo {
    background-color: #FFFF00;
}

#bthree {
    background-color: #00FFFF;
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
    #Controls {
        flex-direction: column;
    }
    #Controls button {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #Content {
        width: 100%;
    }
    #Content img {
        width: 100%;
    }
}